menu "Samsung Galaxy S Plus sensor drivers"

config SENSORS_BMA023_ACCEL
	tristate "Bosch BMA023 Acceleration Sensor"
	depends on I2C

config INPUT_BMA023_POSITION
	int "BMA023 Mounting Position on Board"
	depends on SENSORS_BMA023_ACCEL
	default "0"
	help
	  Chip mounting position (pin 1).
	    0: top, upper-left
	    1: top, upper-right
	    2: top, lower-right
	    3: top, lower-left
	    4: bottom, upper-left
	    5: bottom, upper-right
	    6: bottom, lower-right
	    7: bottom, lower-left

config SENSORS_YAS529_MAGNETIC
	tristate "Yamaha YAS529 Geomagnetic Sensor"
	depends on I2C

config INPUT_YAS529_POSITION
	int "YAS529 Mounting Position on Board"
	depends on SENSORS_YAS529_MAGNETIC
	default "0"
	help
	  Chip mounting position (pin 1).
	    0: top, upper-left
	    1: top, upper-right
	    2: top, lower-right
	    3: top, lower-left
	    4: bottom, upper-left
	    5: bottom, upper-right
	    6: bottom, lower-right
	    7: bottom, lower-left
	    
config SENSORS_ORIENTATION
	tristate "Yamaha Orientation Sensor"
	depends on I2C

config OPTICAL_GP2A
	depends on I2C
	tristate "GP2A driver"
	default n
	help
	  This option enables proximity & light sensors using gp2a driver.

endmenu

