config BCM4329
	tristate "---Broadcom WiFi Driver for 4329"
	depends on WLAN
	---help---
		Select this option to build Broadcom wlan driver

config BROADCOM_WIFI_RESERVED_MEM
	bool "BROADCOM Reserved memory for wifi device"
	depends on BCM4329
	---help---
		This is a configuration for broadcom WLAN driver.

config BROADCOM_WIFI
	bool "Broadcom WiFi Driver"
	depends on BCM4329
	default y
	---help---
		This is a configuration for broadcom WLAN driver.
